# 忽略所有文件
*

# 重新包含所有目录
!**/

# 添加白名单
!**/*.go
!**/*.sol
!**/*.ts
!**/*.tsx
!**/*.js
!**/*.jsx
!**/*.json
!**/*.yml
!**/*.gitignore
!**/*.mod
!**/Makefile
!**/hardhat.config.*


# 排除指定文件和目录
**/package-lock.json
**/*tmp*


**/source_code/
**/artifacts/
**/cache/
**/node_modules/
**/typechain-types/
**/api_tool
**/ignition/
**/nnode_service/

