# 忽略所有文件
*

# 重新包含所有目录
!**/

# 添加白名单
!**/*.go
!**/*.sol
!**/*.ts
!**/*.tsx
!**/*.js
!**/*.jsx
!**/*.md
!**/*.json
!**/*.gitignore
!**/*.mod
!**/*.sum
!**/Makefile
!**/hardhat.config.*


# 排除指定文件和目录
**/package-lock.json
**/ethclient_service/go.sum 


**/source_code/
**/artifacts/
**/cache/
**/node_modules/
**/typechain-types/
**/api_tool
**/ignition/
